<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL Shortener: CSV</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container h-100">
  <div class="h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-5">
        <h3>Create short URLs for the URLs in a CSV file</h3>
        <form method="POST" enctype="multipart/form-data" id="fileForm">
          <div class="form-group">
            <label class="control-label" for="file">Upload File:</label>
            <input type="file" class="form-control" id="file" placeholder="Upload File"  name="file"/>
          </div>
          <button type="submit" class="btn btn-default" id="btnSubmit">Upload</button>
        </form>
        <div th:if="${message}">
          <span th:text="${message}"/>
          <br/>
          <div th:if="${file}" align="center">
            <form method="post" th:action="@{/csv-{name}(name=${file})}" style="display:inline">
              <button type="submit">
                Download new file
              </button>
            </form>
          </div>
          <div th:if="${firstUrlError}">
            <div class='alert alert-danger lead'>
              The first url in your file could not be shortened:
              <div th:text="${firstUrlError}"></div>
            </div>
          </div>
          <div th:if="${firstUrl}">
            <div class='alert alert-success lead'>
              <a target="_blank" th:href="@{${firstUrl}}" th:text="${firstUrl}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>